/* STILO DO SITE */

.capa {
  background: rgb(0, 0, 0);
  background: #2d2d2d;
  width: 100%;
  padding: 60px 0;
}

.image-text-capa {
  display: flex;
}

.perfil {
  border: 5px solid #f9fafb;
  /* border-radius: 20px; */
  margin-right: 20px;
}

.nome {
  font-family: "Noto Sans", sans-serif;
  font-size: 4rem;
  font-weight: bold;
  color: #f9fafb;
}

.funcao-cidade {
  font-family: "Noto Sans", sans-serif;
  font-size: 1.125rem;
  font-weight: bold;
  color: #bdbdbd;
  margin-top: 10px;
}
.navbar {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 10px 0;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
  background: #424242;
  z-index: 100;
}

.navbar-fixed {
  position: fixed;
  top: 0;
  width: 100%;
}

.navbar-ghost {
  height: 55px;
  width: 100%;
  display: none;
  background: #424242;
}
.navbar-ghost-ativo {
  display: block;
}

.item-navbar,
.item-navbar a {
  display: flex;
  align-items: center;
  position: relative;
  cursor: pointer;
}
.icones {
  margin-right: 10px;
}
.texto-icones {
  margin-right: 20px;
  font-size: 1.125rem;
  color: #f9fafb;
  font-family: "Noto Sans", sans-serif;
}

.texto-icones-curriculo {
  margin-right: 0;
}

.item-navbar-ativo::after,
.item-navbar:hover::after {
  content: "";
  height: 3px;
  position: absolute;
  bottom: -10px;
  background-color: #ff3f26;
  animation: barraNav 0.5s forwards;
}

.item-navbar:last-child:hover::after {
  content: "";
  height: 3px;
  position: absolute;
  bottom: -10px;
  background-color: #ff3f26;
  animation: lastBarraNav 0.5s forwards;
}

.sobre-skills {
  background-color: #f9fafb;
  padding: 120px 0;
}

.display-sobre-skills {
  display: flex;
}
.sobre,
.skills {
  width: 430px;
}
.sobre {
  margin-right: 110px;
}
.titles {
  font-size: 3rem;
  font-family: "Noto Sans", sans-serif;
  color: #000;
  font-weight: bold;
}
.titles-white {
  font-size: 3rem;
  font-family: "Noto Sans", sans-serif;
  color: #f9fafb;
  font-weight: bold;
}

.textos {
  font-size: 1.125rem;
  font-family: "Noto Sans", sans-serif;
  color: #2d2d2d;
  line-height: 1.7875rem;
}

.lista-skills {
  position: relative;
  display: flex;
  flex-direction: column;
}

.li-skills {
  width: 10px;
  height: 3px;
  background-color: #ff3f26;
  margin-right: 10px;
}

.item-lista-skill {
  display: flex;
  align-items: center;
}

.box-educacao {
  background: #2d2d2d;
}

.educacao {
  padding: 120px 0;
}

.cards-educacao {
  display: flex;
}

.box-card-educ {
  width: 520px;
  
  background: #5C5C5C;
  

}

.card-educ {
  padding: 20px;
  background-color: #424242;
  transition: top 10s cubic-bezier(0.25, 0.8, 0.25, 1);
  transition: left 10s cubic-bezier(0.25, 0.8, 0.25, 1);
}
.card-educ:hover {
  position: relative;
  top: 5px;
  left: 5px;
  
}
.box-card-educ:nth-child(1) {
  margin-right: 20px;
}
.curso {
  font-size: 1.125rem;
  font-weight: bold;
  font-family: "Noto Sans", sans-serif;
  line-height: 1.7875rem;
  color: #f9fafb;
}

.instituicao,
.ano {
  font-size: 1.125rem;
  font-family: "Noto Sans", sans-serif;
  color: #bdbdbd;
  line-height: 1.5325rem;
}
.ano {
  color: #ff3f26;
  font-weight: bold;
}

.experiencia {
  background-color: #f9fafb;
  padding: 120px 0;
}

.empresa {
  color: #272643;
  margin: 15px 0;
}

.texto-empresa {
  width: 520px;
}

.box-portfolio {
  background: #2d2d2d;
}

.portfolio {
  padding: 120px 0;
}

.card-portfolio {
  display: flex;
}

.portfolio1 {
  margin-right: 20px;
}

.contato {
  padding: 60px 0;
  background-color: #000;
}

.title-contato {
  text-align: center;
  color: #f9fafb;
}

.links-contato {
  display: flex;
  justify-content: center;
}

.item-contato {
  margin-right: 20px;
}
.item-contato:nth-child(4) {
  margin-right: 0px;
}

@keyframes barraNav {
  from {
    width: 0px;
  }
  to {
    width: calc(100% - 20px);
  }
}
@keyframes lastBarraNav {
  from {
    width: 0px;
  }
  to {
    width: 100%;
  }
}

.sessao {
  opacity: 0;
  transform: translate3d(-60px, 0, 0);
}

.sessao-ativo {
  animation: showSection 1s forwards;
}
@keyframes showSection {
  from {
    opacity: 0;
    transform: translate3d(-60px, 0, 0);
  }
  to {
    opacity: 1;
    transform: translate3d(0, 0, 0);
  }
}

.separador {
  width: 0;
  height: 3px;
  background-color: #ff3f26;
  margin: 15px 0;
}

.separador-ativo {
  animation: showSeparador 0.5s forwards;
  animation-delay: 0.5s;
}

.separador-contato-box {
  display: flex;
  justify-content: center;
}
@keyframes showSeparador {
  from {
    width: 0;
  }
  to {
    width: 160px;
  }
}

.item-portfolio {
  position: relative;
}

.item-portfolio {
  position: relative;
}

.box-title-item-port {
  width: 100%;
  height: 100%;
  cursor: pointer;
  position: absolute;
  top: 0;
  display: flex;
  justify-content: center;
  align-items: center;
}

.title-item-port {
  font-size: 2.25rem;
  text-align: center;
  font-family: "Noto Sans", sans-serif;
  font-weight: bold;
  color: #f9fafb;
  display: none;
}
.box-title-item-port:hover .title-item-port {
  display: block;
}

.box-title-item-port:hover {
  background: rgba(0, 0, 0, 0.7);
}

.svg-padrao path:hover, .svg-diferente rect:hover{
  fill: #ff3f26;
}
