/* RESET */
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
b,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}
body {
  line-height: 1;
}
ol,
ul {
  list-style: none;
}
blockquote,
q {
  quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: "";
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* CONTAINER e img */
.container {
  max-width: 960px;
  margin: 0 auto;
}

.container::after,
.container::before {
  content: "";
  display: table;
  clear: both;
}

img {
  box-sizing: border-box;
  max-width: 100%;
}

/* STILO DO SITE */

.capa {
  background: url(./assets/capa.png);
  background-size: cover;
  width: 100%;
  padding: 60px 0;
}

.image-text-capa {
  display: flex;
}

.perfil {
  border: 10px solid #99dddd;
  /* border-radius: 20px; */
  margin-right: 20px;
}

.nome {
  font-family: "Noto Sans", sans-serif;
  font-size: 4.5rem;
  font-weight: bold;
  color: #99dddd;
  text-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
}

.funcao-cidade {
  font-family: "Noto Sans", sans-serif;
  font-size: 1.3125rem;
  font-weight: bold;
  color: #fff;
  margin-top: 10px;
}
.navbar {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 10px 0;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
  z-index: 100;
}

.navbar-fixed{
  position: fixed;
  top: 0;
  width: 100%;
  background: #fff;
}

.navbar-ghost{
  height: 55px;
  width: 100%;
  display: none;
}
.navbar-ghost-ativo{
  display: block;
}

.item-navbar {
  display: flex;
  align-items: center;
  position: relative;
}
.icones {
  margin-right: 10px;
}
.texto-icones {
  margin-right: 20px;
  font-size: 1.3125rem;
  color: #707070;
  font-family: "Noto Sans", sans-serif;
}

.item-navbar1::after {
  content: "";
  width: calc(100% - 20px);
  height: 3px;
  position: absolute;
  bottom: -10px;
  background-color: #ffcc00;
}

.sobre-skills {
  background-color: #EEFFFF;
  padding: 60px 0;
}

.display-sobre-skills {
  display: flex;
}
.sobre,
.skills {
  width: 430px;
}
.sobre {
  margin-right: 110px;
}
.titles {
  font-size: 3.75rem;
  font-family: "Noto Sans", sans-serif;
  color: #99dddd;
  font-weight: bold;
}
.separador {
  width: 160px;
  height: 3px;
  background-color: #ffcc00;
  margin: 15px 0;
}
.textos {
  font-size: 1.3125rem;
  font-family: "Noto Sans", sans-serif;
  color: #707070;
  line-height: 1.7875rem;
}

.lista-skills{
  position: relative;
  display: flex;
  flex-direction: column;
}

.li-skills{
  width: 10px;
  height: 3px;
  background-color: #ffcc00;
  margin-right: 10px;
}

.item-lista-skill{
  display: flex;
  align-items: center;
}

.educacao{
  padding: 60px 0
}

.cards-educacao{
  display: flex;
}

.card-educ{
  width: 520px;
  padding: 20px;
  background-color: #EEFFFF;
  box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
}
.card-educ:nth-child(1){
  margin-right: 20px;
}
.curso{
  font-size: 1.3125rem;
  font-weight: bold;
  font-family: "Noto Sans", sans-serif;
  line-height: 1.7875rem;
}

.instituicao, .ano{
  font-size: 1.125rem;
  font-family: "Noto Sans", sans-serif;
  color: #707070;
  line-height: 1.5325rem;
}
.ano{
  color: #99dddd;
  font-weight: bold;
}

.experiencia{
  background-color: #EEFFFF;
  padding: 60px 0;;
}

.empresa{
  color: #000;
  margin: 15px 0;
}

.texto-empresa{
  width: 520px
}